@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        <span class="userIdDisplay">Hello, @context.User.Identity.Name!</span>
@*        <a href="AzureAD/Account/SignOut">Log out</a>*@
    </Authorized>
    <NotAuthorized>
        Not Logged In!
@*        <a href="AzureAD/Account/SignIn">Log in</a>*@
    </NotAuthorized>
</AuthorizeView>
