@page "/about"
<PageTitle>About</PageTitle>

<p>
    This repository contains a working example of an Azure IoT solution, using each of the components shown below.
</p>
<p>
    <Blazorise.Image Source="/images/IoTExampleArchitecture.png" Height=Height.Is75></Blazorise.Image>
</p>

<div class="callout" style="margin-top: 15px; width: 900px;">
    <h3 style="margin-top: 5px;">About this site</h3>
    <p style="margin-top: 20px;">
        <i>
            <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank"><img src="/images/Blazor.png" class="pull-left" alt="Blazor" style="padding: 5px; margin-top: -20px;" /></a>
            The this site was developed and deployed
            using <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>,
            a clean and simple way of developing a single page web application in modern maintainable C# code with absolutely no JavaScript,
            and was deployed to Azure using Bicep templates and a fully automated CI/CD process.
        </i>
    </p>
</div>
