@page "/privacy"
<PageTitle>Privacy</PageTitle>

<h1>Luppes Consulting Privacy Policy</h1> 
<article>
    <p>The software provided by Luppes Consulting do not collect any personally identifiable data.</p>
    <p>If we did, information would not be shared with third parties, but we don't, so it won't.</p>
</article>
